html {
  zoom:120%;
}

.div1{
	text-align:center;
  margin: auto;
}
p {
  margin-right:10%;
  margin-left:10%;
}

body {
	background-color:#DDC7A0;
  text-align: center;
}
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}

#content2 {
    position: relative;
}
#content2 img {
    position: absolute;
    top: 0px;
    left: 0px;
}

