.div1{
	text-align:center;
  margin: auto;
}

body {
	background-color:#DDC7A0;
  margin-right:30%;
  margin-left:30%;
}

#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}

#content2 {
    position: relative;
}
#content2 img {
    position: absolute;
    top: 0px;
    left: 0px;
}


 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  margin-top:10%;
  float: left;
  width: 15%;
  padding: 10%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 
.column img{
  height:125px;
  width:300px;
}
